@model App.BLL.DTO.MoodsInPlaylist

@{
    ViewData["Title"] = "Delete";
}

<h1>@Base.Resources.Common.Delete</h1>

<h3>@Base.Resources.Common.DeleteConfirm</h3>
<div>
    <h4>MoodsInPlaylist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mood!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist!.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Base.Resources.Common.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Base.Resources.Common.BackToList</a>
    </form>
</div>
