@model App.BLL.DTO.Track

@{
    ViewData["Title"] = "Details";
}

<h1>@Base.Resources.Common.Details</h1>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimesPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimesPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimesSaved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimesSaved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Base.Resources.Common.Edit</a> |
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>
